
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
//@import './app/app.component-theme.scss';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$material-theming-primary: mat-palette($mat-indigo);
$material-theming-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$material-theming-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$material-theming-theme: mat-light-theme($material-theming-primary, $material-theming-accent, $material-theming-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
$primary-dark: mat-palette($mat-purple);
$accent-dark: mat-palette($mat-cyan);
$warn-dark: mat-palette($mat-red);


$dark-theme: mat-dark-theme($primary-dark,
    $accent-dark,
    $warn-dark);
//@include angular-material-theme($material-theming-theme);

$md-custom-primary: (
    50 : #e8eaf6,
    100 : #c5cbe9,
    200 : #9fa8da,
    300 : #7985cb,
    400 : #5c6bc0,
    500 : #3f51b5,
    600 : #394aae,
    700 : #3140a5,
    800 : #29379d,
    900 : #1b278d,
    A100 : #c6cbff,
    A200 : #939dff,
    A400 : #606eff,
    A700 : #4757ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-custom-accent: (
    50 : #faf4f7,
    100 : #f2e4eb,
    200 : #ead3de,
    300 : #e2c1d1,
    400 : #dbb3c7,
    500 : #d5a6bd,
    600 : #d09eb7,
    700 : #ca95ae,
    800 : #c48ba6,
    900 : #ba7b98,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffd9ea,
    A700 : #ffbfdd,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$md-custom-warn: (
    50 : #f9e0e0,
    100 : #f0b3b3,
    200 : #e68080,
    300 : #db4d4d,
    400 : #d42626,
    500 : #cc0000,
    600 : #c70000,
    700 : #c00000,
    800 : #b90000,
    900 : #ad0000,
    A100 : #ffd7d7,
    A200 : #ffa4a4,
    A400 : #ff7171,
    A700 : #ff5858,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$primary-custom: mat-palette($md-custom-primary,700);
$accent-custom: mat-palette($md-custom-accent);
$warn-custom: mat-palette($md-custom-warn);

$custom-theme: mat-dark-theme($primary-custom,
    $accent-custom,
    $warn-custom);

// $custom-background-color: #ffa4a4;

// $background: map-get($custom-theme, background);
// $background: map_merge($background, (background: $custom-background-color));
// $custom-theme: map_merge($custom-theme, (background: $background));


//@include angular-material-theme($dark-theme);
@mixin components-theme($theme) {
    //@include app-component($theme);
}
.dark-theme {
    @include angular-material-theme($dark-theme);
    @include components-theme($dark-theme);
}
.primary-theme{
@include angular-material-theme($material-theming-theme);
    @include components-theme($material-theming-theme);
}
.custom-dark-theme{
    @include angular-material-theme($custom-theme);
    @include components-theme($custom-theme);
}




/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@for $i from 0 through 100 {
  .w-#{5 * $i} {
    width: 0% + 5 * $i !important;
  }
  .p-#{4 * $i}{
    padding: 0px + (4 * $i) !important;
}
.m-#{4 * $i}{
    margin: 0px + (4 * $i) !important;
}
}
