<section class="m-16">
    <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap="16px" fxLayoutAlign="space-between " fxFlexAlign="auto">
        <div class="card-content" fxFlex="25" fxLayout="row" fxLayoutGap="16px" fxLayout="center">
            <div class="circle bg-1" fxLayoutAlign="center center">
                <mat-icon>people</mat-icon>
            </div>
            <div fxLayout="column" fxLayoutGap="8px">
                <h5>$3456</h5>
                <p>My Income</p>
            </div>
        </div>
        <div class="card-content" fxFlex="25" fxLayout="row" fxLayoutGap="16px" fxLayout="center">
            <div class="circle bg-2" fxLayoutAlign="center center">
                <mat-icon>face</mat-icon>
            </div>
            <div fxLayout="column" fxLayoutGap="8px">

                <h5>123</h5>

                <p>Users</p>

            </div>
        </div>

        <div class="card-content" fxFlex="25" fxLayout="row" fxLayoutGap="16px" fxLayout="center">
            <div class="circle bg-3" fxLayoutAlign="center center">
                <mat-icon>today</mat-icon>
            </div>
            <div fxLayout="column" fxLayoutGap="8px">

                <h5>19 Sep 2020</h5>

                <p>
                    My BirthDay
                </p>
            </div>
        </div>
        <div class="card-content" fxFlex="25" fxLayout="row" fxLayoutGap="16px" fxLayout="center">
            <div class="circle bg-4" fxLayoutAlign="center center">
                <mat-icon>schedule</mat-icon>
            </div>
            <div fxLayout="column" fxLayoutGap="8px">
                <h5>10:00 PM</h5>
                <p>
                    Meeting
                </p>
            </div>
        </div>
    </div>
</section>
