<div fxLayout="row" class="dashboard-container" fxLayoutAlign="space-between" >
<mat-card class="m-4">
  <div class="dashboard-container">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam eaque eveniet accusantium, aut illum nobis. Hic
      excepturi numquam facilis nobis consectetur est sint deserunt ut, culpa totam sunt facere error aliquam at ullam
      ipsam pariatur rerum. Qui tempora deserunt nisi temporibus quasi sunt quam hic beatae! Iste facere consequuntur
      voluptatem!</p>

  </div>
</mat-card>
<mat-card class="m-4">
  <div  >
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam eaque eveniet accusantium, aut illum nobis. Hic
      excepturi numquam facilis nobis consectetur est sint deserunt ut, culpa totam sunt facere error aliquam at ullam
      ipsam pariatur rerum. Qui tempora deserunt nisi temporibus quasi sunt quam hic beatae! Iste facere consequuntur
      voluptatem!</p>

  </div>
</mat-card>

</div>
