@import '~@angular/material/theming';

@mixin app-component($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);




    .dashboard-container{
       // background-color: mat-color($background);
        h1{
            color: mat-color($warn);
        }
    }
}
