<mat-toolbar class="dark" color="primary">
  <div class="w-100" fxLayout="row" fxLayoutAlign="space-between">



    <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon btn-mdl"
      aria-label="Example icon-button with share icon">
      <mat-icon>format_color_fill</mat-icon>
    </button>

  </div>

  <mat-menu #menu="matMenu">
    <button (click)="changeTheme('primary-theme')" mat-menu-item>Primary Light Theme</button>
    <button (click)="changeTheme('dark-theme')" mat-menu-item>Primary Dark Theme</button>
    <button (click)="changeTheme('custom-dark-theme')" mat-menu-item>Custom Color Palette Theme</button>
  </mat-menu>

</mat-toolbar>
<div class="dark">
<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt corrupti quas dolorum qui enim beatae debitis at
  architecto magnam minima repudiandae reiciendis quibusdam mollitia, perspiciatis ab, fuga numquam, ut perferendis.
</h1></div>
